body{
    background-image: url(images/ajy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(63, 62, 62);
}

.foto{
    display: flex;
    font-size: 16px;
    margin-left: 20px;
}
.forma{
    display: flex;
    gap: 5px;
    margin-right: 20px;
}
#b{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gray{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #858585;
    padding: 20px 0;
}

.slide-track {
    display: flex;
    width: calc(250px * 16);
    animation: scroll 60s linear infinite;
    gap: 10px;
}

.slide {
    width: 100px;
    flex-shrink: 0;
    cursor: pointer;
}

.slide img {
    width: 100px;
    border-radius: 5px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}
.kino{
    border: solid 1px gray;
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(51, 45, 45);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px;
    padding-bottom: 40px;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: solid 17px gray;
    width: 641;
    border-radius: 12px;
}
.film{
    display: flex;
    padding-left: 35px;
    gap: 30px;
}
h3{
    color: white;
    padding-left: 44px;
    padding-top: 20px;
}
.info{
    border: solid 1px  rgb(78, 76, 76);
    border-radius: 10px;
    width: 928px;
    background-color: rgb(78, 76, 76);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    box-shadow: 20px #070707;
}
.border{
    display: flex;
    justify-content: center;
}
.class{
    display: flex;
    justify-content: center;
}
h4{
    color: white;
}
.a{
    position: absolute;
    margin-left: 950px;
    margin-top: 250px;
}
.b{
    position: absolute;
    margin-right: 950px;
    margin-top: 250px;
}
.footer{
    margin-top: 20px;
    background-color: rgb(99, 99, 99);
}
.Foote{
    display: flex;
    gap: 30px;
}
#p{
    text-decoration: none;
    align-items: center;
    margin: -15px;
    color: #000000;
    margin-left: 50px;
}
footer{
    margin-bottom: -17px;
}
#i{
    margin-left: 50px;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 20px;
}
h1{
    color: #000000;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 992px) {
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .border{
        width: 100%;
    }
    .kino{
        width: 100%;
    }
    .a{
        margin-left: 840px;
    }
    .b{
        margin-right: 840PX;
    }
}
@media screen and (max-width: 768px) {
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .kino{
        width: 100%;

    }
    .footer{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .a{
        margin-left: 650px;
        margin-top: 180px;
    }
    iframe{
        width: 500px;
        height: 280px;
    }
    .b{
        margin-right: 650px;
        margin-top: 180px;
    }
}
@media screen and (max-width: 576px) {
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .kino{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    iframe{
        width: 250px;
        height: 140px;
    }
    .center{
        border: solid 10px gray;
    }
    .a{
        margin-left: 400px;
        margin-top: 110px;
    }
    .b{
        margin-right: 400px;
        margin-top: 110px;
    }
}
@media screen and (max-width: 480px) {
    .film{
        height: 240px;
    }
    .say{
        font-size: 12px;
        margin-top: -15px;
    }

}