body {
    background-image: url(images/ajy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(63, 62, 62);
}
.body {
    background-color: rgb(38, 39, 39);
}
.slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #858585;
    padding: 20px 0;
}

.slide-track {
    display: flex;
    width: calc(250px * 16);
    animation: scroll 60s linear infinite;
    gap: 10px;
}

.slide {
    width: 100px;
    flex-shrink: 0;
    cursor: pointer;
}

.slide img {
    width: 100%;
    border-radius: 5px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}

.foto{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.forma{
    margin-right: 20px;
    display: flex;
    gap: 5px;
}
#bar{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 15px;
    background-color: rgb(194, 194, 194);
}
#bar:hover{
    background: rgb(226, 29, 29);
    color: white;
}

#b{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.gray{
    display: flex;
    justify-content: space-between;
}
.black{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(51, 51, 38);
}
.kino{
    border: solid 1px gray;
    width: 920px;
    margin: 0 auto;
    background-color: rgb(51, 45, 45);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px;
    padding-bottom: 40px;
}
#h2{
    text-align: center;
    padding-top: 20px;
    color: rgb(226, 226, 226);
}
#h3{
    font-size: 15px;
    color: rgb(214, 214, 214);
    
}
#txt1{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 20px;
}
#txt2{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 35px;
}
#txt3{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 15px;
}
#txt4{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 30px;
}
#txt5{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 22px;
}
#txt6{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 15px;
}
#txt7{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 58px;
}
#txt8{
    font-size: 15px;
    color: rgb(214, 214, 214);
    padding-left: 13px;
}
.film{
    border-radius: 10px;
    position: relative;
    width: 150px;
    height: 250px;
    gap: 30px;
    overflow: hidden;
    color: rgb(209, 207, 207);
    cursor: pointer;
}
#button{

    width: 150px;
    color: rgb(156, 156, 156);
    padding: 5px;
    background: rgb(29, 29, 29);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}
#button:hover{
    background: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.film img{
    width: 100%;
    height: 100%;
    display: block;
}
.film .say{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 10px;
    opacity: 0;
    transition: 0.3s;
}
.film:hover .say{
    opacity: 1;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 170px;
    color: white;
}
.footer{
    margin-top: 20px;
    background-color: rgb(99, 99, 99); 
    margin-top: 20px;
    margin-bottom: -17px;
}
#p{
    text-decoration: none;
    color: #000000;
    margin: -10px;
    margin-left: 50px;
}
#i{
    padding-top: 30px;
    margin-left: 50px;
    font-size: 12px;
    padding-bottom: 10px;
    
}
h1{
    color: #000000;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 992px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
    }
    header{
        width: 100%;
    }
    #mo{
        font-size: 30px;
    }
    #ip{
        width: 30px;
        height: 30px;
        padding: 8px;
    }
    #bar{
        margin-top: 22px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #b{
        width: 150px;
        height: 31px;
        position: relative;
        margin-top: 22px;
    }
}
@media screen and (max-width: 768px){
    
    .kino{
        width: 100%;
    }
    .film{
        width: 140px;
        height: 220px;
    }
    .cards{
        margin-left: 25px;
    }
    #button{
        width: 140px;
    }
}
@media screen and (max-width: 576px) {
    .kino{
        width: 100%;
    }
    #i{
        margin-left: 20px;
    }
    .Foote{
        margin-left: -30px;
    }
}
@media screen and (max-width: 480px) {
    .line{
        width: 445px;
    }
    .kino{
        width: 100%;
    }
    #b{
        width: 100%;
    }
    #bar{
        width: 100%;
    }
}